<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Admin</title>
		{{ bootstrap.load_css() }}
		<link
			rel="stylesheet"
			href="{{ url_for('.static', filename='styles.css') }}"
		/>
	</head>
	<body class="bg-dark text-light">
		<header
			class="header text-light bg-dark display-6 d-flex align-items-center p-3"
		>
			Dashboard
		</header>

		<div class="admin-container">
			<div class="dashboard-display">
				<ul class="d-flex flex-column gap-2 mt-3">
					<a class="text-light" href="{{ url_for('admin.add_product') }}"
						><li>Add Product</li></a
					>
					<a class="text-light" href="{{ url_for('admin.dashboard') }}"
						><li>All Products</li></a
					>
				</ul>
			</div>
			<div class="dashboard-content">{% block content %}{% endblock %}</div>
		</div>
		{{ bootstrap.load_js() }}
	</body>
</html>
